# python cache
__pycache__/
*.pyc

# virtual environments
venv/
venv310/
.env/

# macos junk
.DS_Store

# ide files
.idea/
.vscode/

# attendance logs (optional but recommended)
Attendance.csv

# compiled libraries
*.so
*.dylib

